@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;1,300&family=McLaren&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,500&family=Open+Sans:wght@400;700&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #d63626;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b30000;
  border-radius: 4px;
}

/* 
=================================
Loader
=================================
*/

/* 
=================================
Header
=================================
*/

.header-container-wrapper {
  background: #f3f4f6;
  height: 100%;
  width: 100%;
  /* padding: 40px 57px; */
  border-radius: 4px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
  padding: 20px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right button {
  width: 115px;
  height: 41px;
  background-color: #d63626;
  border: none;
  outline: none;
  border-radius: 30px;
  margin-left: 27px;
}

.header-right button a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}

.header-right button:hover {
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}
nav {
  margin-left: 60px;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  list-style: none;
  padding-left: 35px;
}

nav ul li a {
  text-decoration: none;
  color: #828282;
}
nav ul li a:hover {
  transition: 0.3s ease-in-out;
}

/* 
=================================
Footer
=================================
*/

.footer-bottom {
  width: 100%;
  height: 100%;
  background: #181617;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-bottom-wrapper {
  width: 100%;
  height: 100%;
  padding: 0 90px;
  margin: 0 auto;
  /* padding-top: 235px; */
  padding: 5rem;
  display: flex;
  justify-content: space-between;
}

.fb-left {
  flex: 1;
}

.fb-left > img {
  width: 92px;
  height: 32px;
  margin-bottom: 8px;
  margin-left: 2px;
}

.fb-left > p {
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #828282;
  margin-bottom: 20px;
}

.fb-left .social {
  display: flex;
  align-items: center;
}

.fb-left .social > div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  margin-right: 30px;
}

.fb-left .social div a img {
  width: 100%;
  height: 100%;
}

.fb-right {
  flex: 2;
  display: flex;
  justify-content: flex-end;
}

.fb-right ul {
  padding-left: 15rem;
}
.fb-right .list h3 {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 8px;
}

.fb-right .list li a {
  font-weight: 900;
  font-size: 18px;
  line-height: 30px;
  color: #828282;
}
