@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;1,300&family=McLaren&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,500&family=Open+Sans:wght@400;700&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #d63626;
}
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
.container {
  padding: 25px;
  height: 100vh;
  overflow-x: hidden;
}

.header-container-wrapper {
  background: #f3f4f6;
  height: 100%;
  width: 100%;
  padding: 40px 57px;
  border-radius: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right button {
  width: 115px;
  height: 41px;
  background-color: #d63626;
  border: none;
  outline: none;
  border-radius: 30px;
  margin-left: 27px;
}

.header-right button a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}

.header-right button:hover {
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}
nav {
  margin-left: 60px;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  list-style: none;
  padding-left: 35px;
}

nav ul li a {
  text-decoration: none;
  color: #828282;
}
nav ul li a:hover {
  transition: 0.3s ease-in-out;
}

.main-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.main-wrapper-left > h1 {
  font-size: 60px;
  line-height: 70px;
  letter-spacing: 3%;
  font-weight: bold;
  color: #181617;
  margin-bottom: 5px;
}

.main-wrapper-left > p {
  color: #828282;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 3%;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 55px;
}

.main-wrapper-buttons {
  display: flex;
  align-items: center;
}

.main-wrapper-buttons button {
  cursor: pointer;
}

.main-wrapper-buttons button:hover {
  opacity: 0.8;
  transition: 0.3s ease-in-out;
}

.main-wrapper-buttons button:first-child {
  background-color: #d63626;
  width: 220px;
  height: 70px;
  border-radius: 30px;
  border: none;
  outline: none;
  font-size: 25px;
}

.main-wrapper-buttons button a:first-child {
  color: #ffffff;
  text-decoration: none;
}

.main-wrapper-buttons button:nth-child(2) {
  background-color: #f2f2f2;
  width: 220px;
  height: 70px;
  border-radius: 30px;
  color: #828282;
  border: none;
  outline: none;
  font-size: 25px;
  border: 2px solid #828282;
  margin-left: 39px;
}
.main-wrapper-buttons button:nth-child(2) a {
  color: #828282;
  text-decoration: none;
}

.main-wrapper-left {
  width: 55%;
}
.main-wrapper-right {
  width: 40%;
  padding: 15px 0px 15px 30px;
}

.main-wrapper-img {
  border-radius: 110px;
  background: #000;
}
.main-wrapper-img img {
  width: 100%;
  margin-left: -45px;
}

.features-section {
  margin-top: 82px;
  height: 100vh;
}
.features-section > p:first-child {
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  color: #181617;
  font-weight: 900;
  line-height: 70px;
  letter-spacing: 0.03em;
}

.features-section > p:nth-child(2) {
  color: #828282;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
  width: 780px;
  margin: 0 auto;
  margin-bottom: 45px;
}

.features-section .cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.features-section .cards .card {
  background: #ffffff;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  /* Black shadow with 10px blur */
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  width: 327px;
  height: 386px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2px;
}

.features-section .cards .card img {
  height: 223px;
}

.features-section .cards .card p:nth-child(2) {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 70px;
  font-weight: 700;
  color: #4f4f4f;
}

.features-section .cards .card p:nth-child(3) {
  font-size: 18px;
  font-weight: 400;
  color: #828282;
  letter-spacing: 0.03em;
  font-weight: 400;
  line-height: 30px;
}

.description-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
  padding: 0 50px;
}
.description-section .description-left {
  width: 40%;
}

.description-section .description-left > h2 {
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 20px;
}

.description-section .description-left > p {
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #828282;
}

.description-section .description-right {
  display: flex;
  justify-content: center;
  width: 40%;
  /* margin-right: 100px; */
  /* position: relative;
  background-color: #d63626;
  border-radius: 50px;
  margin-right: 100px;
  transform: rotate(22.82deg);
  width: 500px;
  height: 556.74px; */
}

.description-section .description-right .kfc-image {
  position: relative;
  background-color: #d63626;
  border-radius: 50px;
  width: 421px;
  height: 556.74px;
  transform: rotate(22.82deg);
}

.description-section .description-right .kfc-image img {
  transform: rotate(-22.82deg);
  width: 150%;
  position: absolute;
  top: 10%;
  left: -25%;
}

.pizza-image {
  position: relative;
  background-color: #d63626;
  border-radius: 50px;
  width: 421px;
  height: 556.74px;
  transform: rotate(-22.82deg);
}

.pizza-image img {
  transform: rotate(22.82deg);
  width: 130%;
  position: absolute;
  top: 2%;
  left: -9%;
}
