@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;1,300&family=McLaren&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,500&family=Open+Sans:wght@400;700&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat',sans-serif;
}
.container {
    padding: 20px 30px;
}

header {
    background-color: #EB5757;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

header div {
    padding: 20px;
}

.header-container .header-left img {
    color: white;
}

.main-content {
    margin-top: 50px;
    display: flex;
    height: 100vh;

}

.main-left {
    background-color: #EB5757;
    width: 50%;
}

.main-left .left-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-right {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -200px;
}

@media (max-width:1400px) {
    .main-right {
        margin-top: 100px;
    }
}

.main-right .signup {
    margin-top: 30px;
    display: flex;
    justify-content: center;

}



.main-right .signup button {
    width: 200px;
    height: 40px;
    background-color: #fff;
    border: none;
    outline: none;
    font-size: 30px;
    color: #828282;
    cursor: pointer;
    margin-right: 30px;
    
}

.main-right .signup button:hover {
    transition: .3s ease-in-out;
    background-color: #EB5757;
    border-radius: 5px;
    color: #FFE7E7;
}

.main-right .inputs {
    padding: 40px;
}

.main-right .login-btn {
    display: flex;
    justify-content: center;
}

.main-right .login-btn button {
    cursor: pointer;
    width: 579px;
    height: 68px;
    background-color: #EB5757;
    border: none;
    outline: none;
    color: #FFFFFF;
    font-size: 22px;
    border-radius: 5px;
}

.main-right .inputs label, .main-right .inputs input {
    margin: 20px;
}

.main-right .inputs label {
    color: #4F4F4F;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3%;
}

.main-right .inputs input {
    width: 100%;
    height: 68px;
    border: 5px;
    background-color: #FFE7E7;
    border: none;
    outline: none;
    font-size: 25px;
    text-align: center;
}

.signup-container {
    display: none;
}